@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
        </div>

        <article class="content px-4">
            @Body
        </article>

       @* <footer class="page-footer bg-light shadow-lg p-3 bg-white rounded">
           <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2021 Copyright:
                <span>Разработчкики: Воробьев Максим Сергеевич и Алина</span>
            </div>
          <!-- Copyright -->
        </footer>*@
    </main>
</div>
