@inherits LayoutComponentBase

<div class="page" >
    <main>
        <div class="top-row px-4">
            <TopMenu/>
        </div>
        <div class="nav-menu">
            <PhNavMenu/>
        </div>
        <article class="content px-4" >
            @Body




          @*  <footer class="page-footer bg-light shadow-lg p-3 bg-white rounded" style="position: absolute; bottom: 0; width: 100%; ">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2021 Copyright:
            <span>Разработчкики: Воробьев Максим Сергеевич и Алина</span>
        </div>
        <!-- Copyright -->
    </footer>*@



        </article>
        
       
    </main>
</div>
<BlazoredToasts Timeout="2"/>